@import url(/Frontend/css/home.css);
@import url(/Frontend/css/secao-dois.css);
@import url(/Frontend/css/secao-tres.css);
@import url(/Frontend/css/rodape.css);
@import url(/Frontend/css/login.css);

* {
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: 'Roboto Flex', sans-serif;
    --laranja-principal: #EF7D00;
    --laranja-background: #F48E1E;
    --laranja-secundario: #FFE6CA;
    --laranja-terciario: #FBCB96;
    --laranja-claro:#FFF9F2;
    --marrom-escuro: #542D00;
    --marrom-claro: #975C19;
    --cinza-principal: rgba(30, 30, 30, 0.81);
    --cinza-secundario: #C2BDBD;
    --cinza-claro: #E8E3E3;
    --branco: #FFFFFF;
    --shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    --shadow-login: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

body {
    font-family: var(--fonte-principal);
}